 /*  SECTIONS  */
.section-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-head-text {
  flex: 1;
  position: relative;
}

.section-title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-secondary);
  line-height: 1.2;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 32px;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 227px;
  height: 3px;
  background: var(--color-primary);
}

.section-title--offer::after {
  width: 241px;
}

.section-subtitle {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 1.2;
  max-width: 480px;
  margin-bottom: 100px;
}

.section-subtitle--offer {
  margin-bottom: 60px;
}

.section-head-arrows {
  display: flex;
  flex-shrink: 0;
  gap: 40px;
  padding: 100px 58px 0 58px;
}

.arrows-desktop {
  display: none;
}

.arrows-mobile {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.arrows-mobile--offer {
  padding: 60px 0 0;
}

.arrow-btn {
  width: 66px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-secondary);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.25s;
}

.arrow-btn:hover {
  background: var(--color-primary);
}

.arrow-btn img {
  width: 10px;
  height: auto;
}

/* DESTINATIONS */
.destinations-section {
  overflow: hidden;
  padding: 80px 0;
}

.destinations-swiper {
  overflow: visible;
  padding-bottom: 8px;
}

.dest-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.dest-card-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.dest-card-info {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: var(--color-white);
}

.dest-card-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.dest-card-location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-body);
  font-size: 1.125rem;
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.dest-card-location i {
  width: 24px;
  height: auto;
}

/*  SPECIAL OFFER*/
.offer-section {
  padding: 80px 0;
  overflow: hidden;
}

.offer-swiper {
  overflow: hidden;
  max-width: 100%;
}

.offer-card {
  border-radius: 16px;
  overflow: hidden;
  background: var(--color-white);
}

.offer-card-img {
  width: 100%;
  height: 286px;
  align-self: stretch;
  display: block;
  border-radius: 26px 26px 0 0;
}

.offer-card-body {
  background: var(--color-bg-accent);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 0 0 26px 26px;
}

.offer-card-title {
  font-family: var(--font-mono);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-secondary);
}

.offer-card-stars {
  display: flex;
  gap: 4px;
}

.offer-card-stars img {
  width: 24px;
  height: 24px;
  margin-top: -8px;
}

.offer-card-text {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.2;
  color: var(--text-primary);
  flex: 1;
}

.offer-card-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 8px;
}

.offer-card-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.offer-card-from {
  font-family: var(--font-body);
  font-size: 1.125rem;
  color: var(--text-secondary);
}

.offer-card-amount {
  font-family: var(--font-body);
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--color-primary);
}

.offer-card-btn {
  height: 56px;
  width: 127px;
  padding: 16px 24px;
  background: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 12px;
  font-family: var(--font-body);
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.25s;

}

.offer-card-btn:hover {
  background: var(--color-primary);
}

/* BLOG */
.blog-section {
  padding: 80px 0;
}

.section-title--blog::after{
  width: 150px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 40px;
}

.blog-card-img {
  width: 100%;
  border-radius: 26px;
  object-fit: cover;
}

.blog-card-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card-title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-secondary);
}

.blog-card-text {
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 2.22;
  color: var(--text-primary);
}

.blog-card-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-family: var(--font-body);
  font-size: 1.5rem;
  line-height: 2.166;
  color: var(--color-primary);
}

.blog-card-link i {
  width: 20px;
  color: var(--color-primary);
}

/*  TRIP PLANNERS  */
.section-subtitle--trip {
  margin-bottom: 46px;
}

.section-title--trip::after{
  width: 231px;
}

.trip-section {
  padding: 80px 0;
}

.trip-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.trip-card {
  display: flex;
  flex-direction: column;
}

.trip-card-img-wrap {
  border-radius: 26px;
  overflow: hidden;
}

.trip-card-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.trip-card:hover .trip-card-img {
  transform: scale(1.03);
}

.trip-card-body {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.trip-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-body);
  font-size: 1.125rem;
  color: var(--text-primary);
}
.trip-card-type{
  text-transform: uppercase;;
}

.trip-card-title {
  font-family: var(--font-heading);
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.trip-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-card-stars {
  display: flex;
  gap: 2px;
}

.trip-card-stars img {
  width: 24px;
  height: 24px;
}

.trip-card-days {
  font-family: var(--font-body);
  font-size: 1.125rem;
  color: var(--text-primary);
}

.btn-view-all {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 12px;
  font-family: var(--font-body);
  font-size: 1.125rem;
  cursor: pointer;
  transition: opacity 0.25s;
  white-space: nowrap;
  margin: 0 0 96px 14px;
}

.btn-view-all::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  width: 43px;
  height: 43px;
  background: rgba(23, 36, 50, 1);
  z-index: -1;
}

.btn-view-all::after {
  content: "";
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 43px;
  height: 43px;
  background: rgba(118, 126, 134, 1);
  z-index: -1;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 3.375rem;
  }

  .section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 365px;
    height: 3px;
    background: var(--color-primary);
  }

  .section-subtitle {
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    max-width: 650px;
  }

  .dest-card-img {
    height: 450px;
  }
  
  .section-title--offer{
    text-align: right;
  }

  .section-title--offer::after{
    left: auto;
    right: 0;
    width: 241px;
  }

  .section-title--blog::after{
    width: 150px;
  }

  .section-subtitle--offer{
    text-align: right;
    margin-bottom: 100px;
    max-width: 100%;
  }

  .arrows-mobile--offer {
    padding: 100px 0 0;
  }
  
  .offer-card-body {
    padding: 20px 24px;
  }

  .offer-card-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .offer-card-text{
    font-size: 1.125rem;
  }
  
  .dest-card-title{
    font-size: 1.75rem;
  }

  .dest-card-location {
    gap: 16px;
    font-size: 1rem;
  }
  
  .dest-card {
    border-radius: 26px;
  }

  .blog-card-img {
    height: 555px;
    object-fit: cover;
  }

  .blog-card-title {
    font-size: 3.375rem;
  }

  .section-subtitle--blog{
    font-size: 1.5rem;
  }
  
  .section-subtitle--trip{
    max-width: 340px;
    font-size: 1.125rem;
  }

  .section-title--trip::after{
    width: 231px;
  }

  .trip-card-img{
    width: 100%;
    height: 350px;
  }

  .trip-card-top{
    font-size: 1.5rem;
  }

  .trip-card-title{
    font-size: 2rem;
  }
}

@media (min-width: 1152px) {
  .section-head {
    padding-top: 140px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .offer-section{
    padding: 100px 0;
  }

  .section-title {
    font-size: 4rem;
  }

  .dest-card-img {
    height: 661px;
  }

  .arrows-desktop {
    display: flex;
    padding: 100px 0 0 0;
  }

  .arrows-mobile {
    display: none;
  }

  .destinations-section{
    padding: 100px 0;
  }

  .section-subtitle{
    font-size: 1.5rem;
    max-width: 750px;
  }

  .dest-card-location{
    font-size: 1.5rem;
  }

  .section-subtitle--offer {
    text-align: right;
    margin-bottom: 100px;
    max-width: 100%;
  }

  .blog-section {
    padding: 100px 0;
  }

  .blog-card {
    flex-direction: row;
    gap: 32px;
  }

  .blog-card-img {
    width: 528px;
    height: 686px;
  }

  .blog-card-title {
    font-size: 3.375rem;
    padding-top: 32px;
  }

  .blog-card-text {
    font-size: 1.125rem;
    line-height: 2.33;
  }

  .trip-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 100px 0;
    overflow: hidden;
  }

  .trip-section .section-head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 75px 32px;
    width: auto;
  }

  .trip-section .section-subtitle--trip {
    max-width: 390px;
    font-size: 1.125rem;
  }

  .btn-view-all {
    margin: 0 0 0 14px;
  }

  .trip-swiper {
    flex: 1;
    min-width: 0;
    overflow: visible;
  }

  .trip-cards {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    align-items: center;
    font-size: 1.125rem;
  }

  .trip-card-top{
    font-size: 1.125rem;
  }

  .trip-card-title{
    font-size: 1.75rem;
  }

  .trip-cards .trip-card:nth-child(odd) .trip-card-body {
    display: none;
  }

  .trip-cards .trip-card:last-of-type .trip-card-body{
    display: none;
  }

}
@media (min-width: 1440px) {
  .section-head {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .destinations-section {
    padding: 140px 0;
  }

  .section-subtitle{
    max-width: 100%;
  }

  .offer-section {
    padding: 140px 0;
  }

  .offer-card-body {
    padding: 40px 24px;
  }

  .blog-section {
    padding: 140px 0px;
  }

  .blog-card-title {
    padding-top: 45px;
  }
  
  .blog-card-text {
    font-size: 1.5rem;
    line-height: 2.16;
  }

  .blog-card-img {
    width: 672px;
    height: 802px;
  }

  .trip-cards.content-wrap{
    grid-template-columns: repeat(4, 350px);
    padding: 0;
  }

  .trip-card-img{
    width: 100%;
    height: 400px;
  }

  .trip-section .section-head{
    padding: 100px 80px 100px 32px;
  }

  .trip-section{
    padding: 140px 0;
  }
}
@media (min-width: 1920px) {
  .offer-section {
    padding: 120px 0;
  }

  .blog-card-title {
    padding-top: 105px;
  }

  .blog-card-img {
    width: 762px;
    height: 873px;
  }

  .trip-cards.content-wrap{
    grid-template-columns: repeat(4, 300px);
    padding: 0;
  }

  .trip-card-img{
    width: 100%;
    height: 400px;
  }

  .trip-section .section-head{
    padding: 100px 100px 100px 182px;
  }
}